body {
    text-align: center;
    background:#00101F;
    background-size: 10px;
    color: white
}
koteyka {
    font-size: 12px;
    opacity: 0.8;
}
.box1 {
    font-family: "Space Grotesk", sans-serif;
    border-style:outset;
    border-width:10px;
    border-color:#213343;
    margin: 2rem auto auto auto;
    width:fit-content;
    background-color:#213343;
    padding:10px 30px 10px 30px;
    
}
.box1 #logoseperator {
    border-color:gray;
}
.box1 #linklist {
    text-align: center;
}

.box1 #linklist a {
    color: whitesmoke;
}
.box1 #rpsrc {
    font-size:10px;
}